compileiq/core/executable/** filter=lfs diff=lfs merge=lfs -text
compileiq/core/executable/core-manifest.json -filter diff merge=text text
compileiq/core/executable/core-version.lock -filter diff merge=text text
