**/logs
**/.venv
**/__pycache__
**/db_restore
**/.cache
**/top_results*
**/*.log
**/tmp
**/.ruff_cache
**/TODO
**/.hypothesis
**/.pytest_cache
**/dist
**/.DS_Store
**/*.sqlite
**/*.sqlite-journal
**/.vscode
**mlartifacts
**mlruns
**/public
**/.coverage
**/*.db
release/search-spaces/**/*.bin
