(classes
  (float-loop (type . range) (low . 1.0) (high . 20.0) (step . 0.1)(repr . "\"$key\": $value,"))
  (int-loop (type . range) (low . 0) (high . 1000) (step . 1)(repr . "\"$key\": $value,"))
  (5 (type . literal) (repr . "\"$key\": $key,"))
)

(dna
 "{"
  (x (class . "float-int"))
  (y (class . "float-loop"))
  (z (class . "float-int")(low . -1000) (high . 0))
  (duration (class . "5"))
  "}"
)
