(dna_config . "compileiq_configs/dna.config")


; Baselining configuration
(qualitative . #t)

; Search configuration
(pool_size . 12)
(cull_size . 6)
;Missing generation
(mutate_rate . 0.25)

; Should equal (number of scores returned by the application) * (number of worker classes in app_configs/config.json)
(num_objectives . 1)
